[submodule "pod-creations/icap-management-ui"]
	path = pod-creations/icap-management-ui
	url = https://github.com/filetrust/icap-management-ui
[submodule "pod-creations/transaction-event-api"]
	path = pod-creations/transaction-event-api
	url = https://github.com/filetrust/transaction-event-api
